<div style="padding-top:135px;">
    <form method="post" class="form-blue" action="~/Employee/CreateCommand">
        <h3 style="color: aliceblue;">Create command</h3>
        <p>
            <input class="form-control" type="text" name="command.Name" placeholder="Name" required />
        </p>
        <p>
            <input class="form-control" type="text" name="command.Description" placeholder="Description" required />
        </p>

        <p>
            <div style="padding-bottom:15px; padding-left:155px;">
                <input class="btn btn-warning" style="margin:auto; " type="submit" value="Create">
            </div>
        </p>
    </form>
</div>