@*@model IEnumerable<EmployeeManagment.Models.UserProfile>*@
@{
    ViewData["Title"] = "GetAll";
}

<!DOCTYPE html>

<html>
<head>
    <title>All employees</title>
</head>
<body>

    <p style="padding-left: 60px; padding-top: 20px;">
        <a class="btn btn-warning" role="button" href="~/Employee/AllCommands">
            Commands
        </a>

        <a class="btn btn-warning" role="button" href="~/Employee/AllEmployees">
            Employees
        </a>

        <a class="btn btn-warning" role="button" href="~/Employee/AllPositions">
            Positions
        </a>
    </p>
    
</body>
</html>