<p style="padding-left: 60px; padding-top: 20px;">
    <a class="btn btn-warning" role="button" href="~/Employee/AllEmployees">
        Back
    </a>
</p>
<div style="padding-top:180px">
    <form method="get" class="form-blue" action="~/Employee/ResultOfSearch">
        <h3 style="color: aliceblue;">Search free employee</h3>
        <p>
            <input class="form-control" type="text" name="employee" placeholder="Employee" required />
        </p>
        <p>
            <div style="padding-bottom:15px; padding-left:155px;">
                <input class="btn btn-warning" style="margin:auto; " type="submit" value="Search">
            </div>
        </p>
    </form>
</div>