@model EmployeeManagment.Models.LoginModel

@{
    ViewData["Title"] = "Employee";
}

<div style="padding-top:135px;">
    <form method="post" class="form-blue">
        <h3>Login</h3>
        <p>
            <input class="form-control" type="text" name="model.UserName" placeholder="Login" required />
        </p>
        <p>
            <input class="form-control" type="password" name="model.Password" placeholder="Password" required />
        </p>

        <p>
            <div style="padding-bottom:15px; padding-left:95px;">
                <table>
                    <tr>
                        <td><input class="btn btn-warning" style="margin:auto" type="submit" value="Enter"></td>
                        <td style="padding-left:45px;"><input class="btn btn-warning" style="margin:auto; " type="submit" value="Sign up"></td>
                    </tr>
                </table>

            </div>
        </p>
    </form>
</div>
