@model EmployeeManagment.Models.ApplicationUserModel

@{
    ViewData["Title"] = "Employee";
}

<div style="padding-top:135px;">
    <form method="post"  class="form-blue">
        <h3>Register</h3>
        <p>
            <input class="form-control" type="email" name="model.Email" placeholder="Email" required />
        </p>
        <p>
            <input class="form-control" type="password" name="model.Password" placeholder="Password" required />
        </p>

        <p>
            <input class="form-control" type="text" name="model.UserName" placeholder="Login" required />
        </p>
           
        <p>
            <div style="padding-bottom:15px; padding-left:150px;">
                <input class="btn btn-warning" style="margin:auto" type="submit" value="Register">
            </div>
        </p>
    </form>
</div>